.btn-success:hover{
  background-color: red;
}

canvas{
  animation-name: outer_canvas;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes outer_canvas{

  from{box-shadow: 1px 1px 38px #26dcdf;}
  to {box-shadow: 1px 1px 38px  #00FFC0;}
}